
<div class="well well-sm"><h4>Hier können die Schüler verwaltet werden.</h4>  </div>

<div id="modaldiv"></div>
<button type="button" class="btn btn-success tableButton" data-toggle="ajax-modal" data-target="#addStudent" asp-controller="Student"
        data-url="@Url.Action("Create")">Schüler anlegen</button><br />

<table class = "table table-grey table-striped table-hover">
    <thead>
        <tr>
            <th>Klasse:</th>
            <th>Vorname:</th>
            <th>Nachname:</th>
            <th style = "width: 14%"></th>
            <th style = "width: 8%"></th>
            <th style = "width: 10%"></th>
            <th style = "width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(Student student in ViewBag.Students) 
            {
                <tr>
                    <td>
                    <strong>    <!-- Ist der Schüler in einer Klasse wird ein Hyperlink generiert für die Weiterleitung auf die Klasse -->
                        @{if (ViewBag.ClassDict[student.class_ID] != "Keine Klasse")
                        {
                            <a asp-controller="Class" asp-action="viewClass" asp-route-id="@student.class_ID" class="link-secondary">@ViewBag.ClassDict[student.class_ID]</a>
                        }else @ViewBag.ClassDict[student.class_ID]}
                        </strong>
                    </td>
                <td>
                @student.firstname
                </td>
                <td>
                @student.lastname
                </td>


                
                <td style = "width: 14%">
                <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#detailStudent" 
        data-url="@Url.Content($"~/Student/details?studentID={student.ID}")">Schüler ansehen</button>
                </td>

                <td style = "width: 8%">
            <a class="btn btn-info" href="@Url.Content($"~/Entry/Index?studentID={student.ID}")" role="button">Einträge</a>
                </td>

                <td style = "width: 10%">
                <button type="button" class="btn btn-secondary" data-toggle="ajax-modal" data-target="#editStudent"
        data-url="@Url.Action($"Edit/{student.ID}")">Bearbeiten</button>
                </td>

                <td style = "width: 10%">
                <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#deleteStudent"
        data-url="@Url.Action($"deleteStudent/{student.ID}")">Löschen</button>
                </td>
                </tr>
            }
        }
    </tbody>
</table>